#technologies .container {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10rem;
    gap: 2rem;
}

.technologies-heading h2 {
    color: var(--WHITE);
    font-size: 2rem;
    font-weight: var(--HEADLINE-2);
    margin-bottom: 0.8rem;
}

.technologies-heading p {
    color: var(--LIGHT);
    font-size: 1.2rem;
    font-weight: var(--PARAGRAPH);
    opacity: 0.7;
}

.technologies {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
}

.slide-techs-right {
    animation: slideTechsRight 1s linear;
}

@media screen and (max-width: 768px) {
    .technologies {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    #technologies .container {
        margin-top: 3rem;
    }

    .slide-techs-right {
        animation: slideTechsRight 1s linear;
    }

    @keyframes slideTechsRight {
        0% {
            transform: translateX(-20%);
        }
        100% {
            transform: translateX(0);
        }
    }
}

@media screen and (max-width: 340px) {
    .technologies-heading h2 {
        font-size: 1.5rem;
    }

    .technologies-heading p {
        font-size: 0.9rem;
    }
}

@keyframes slideTechsRight {
    0% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(0);
    }
}
