$font-sans: var(--font-sans);
$font-display: var(--font-display);
$font-mono: var(--font-mono);

$fs-xxs: var(--fs-xxs);
$fs-xs: var(--fs-xs);
$fs-sm: var(--fs-sm);
$fs-md: var(--fs-md);
$fs-lg: var(--fs-lg);
$fs-xl: var(--fs-xl);
$fs-2xl: var(--fs-2xl);
$fs-3xl: var(--fs-3xl);
$fs-4xl: var(--fs-4xl);
$fs-5xl: var(--fs-5xl);

$fw-regular: var(--fw-regular);
$fw-medium: var(--fw-medium);
$fw-semibold: var(--fw-semibold);
$fw-bold: var(--fw-bold);

$lh-xs: var(--lh-xs);
$lh-sm: var(--lh-sm);
$lh-md: var(--lh-md);
$lh-lg: var(--lh-lg);

$tracking-tight: var(--tracking-tight);
$tracking-label: var(--tracking-label);
